body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

form {
    margin-top: 1rem;
}

form input {
    padding: 0.5rem;
    font-size: 1rem;
}

form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: white;
    color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #e0e0e0;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
    width: 100%;
    max-width: 1200px;
}

#map {
    width: 70%;
    height: 500px;
    border: 1px solid #ccc;
}

#route-details {
    width: 30%;
    padding: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    margin-left: 1rem;
}

#alerts-button {
    background-color: #f44336; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
}

#alerts-button span {
    margin-right: 10px;
}

#alerts-list {
    list-style-type: none;
    padding: 0;
}

